
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@1,100&family=Roboto:wght@300;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .active-state{
        @apply mr-5 last:mr-5 
    }
    .inactive-state{
        @apply mr-5 last:mr-5 text-green-900;
    }
}

body{
    overflow: scroll;
}

@keyframes inside-out {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes inside-out-reverse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  .animate-inside-out {
    animation: inside-out 0.3s ease-in-out;
  }
  
  .animate-inside-out-reverse {
    animation: inside-out-reverse 0.3s ease-in-out;
  }